@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />


<div class="htmldiv">
    <div class="div1 text-center">
        <h1 class="">Sistema de Produtos</h1>
        <p class="">Tecnologia de Qualidade</p>
    </div>

    <br />

    <div class="div2 text-center mb-5">
        <h1 class="display-4">Bem-vindo à nossa loja!</h1>
        <p>Confira nossos produtos:</p>
    </div>

</div>

