.video-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    bottom: 0;
    right: 0;
}

body {
 
    background-color: #6f9be1;
}

.div1 {
    margin-top: 5%;
    color: #000000;
}

.div2 {
    margin-top: 15%;
}

.htmldiv {
    background-color: #6f9be1;
}
